@model ProjetoCinema.Models.Sala

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align: center; ">Criando Sala</h1>

<h4 style="text-align: center; ">Sala</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form style=" width: 15vw; margin-left : 15vw;" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuantidadeAssentos" class="control-label"></label>
                <input asp-for="QuantidadeAssentos" class="form-control" />
                <span asp-validation-for="QuantidadeAssentos" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponivel" /> @Html.DisplayNameFor(model => model.Disponivel)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar Sala" class="btn btn-primary" />
                 <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
