@model ProjetoCinema.Models.Filme

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align: center; ">Cadastro de Filmes</h1>

<h4 style="text-align: center; ">Filme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form style=" width: 50vw; margin-left : 15vw;" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilmeNome" class="control-label"></label>
                <input asp-for="FilmeNome" class="form-control" />
                <span asp-validation-for="FilmeNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Legendado" /> @Html.DisplayNameFor(model => model.Legendado)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Dublado" /> @Html.DisplayNameFor(model => model.Dublado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar Filme" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
